/* ============ dark color scheme ===========*/

.scheme_dark, .scheme_dark .help{
	background-color: #201F1D;
	color: #dcdcdc;
}

.scheme_dark .btn {
	border: 1px solid #DE8D47;
	color: #dcdcdc;
}

.scheme_dark .highlited{
	background-color: #403F3D;
}

.scheme_dark a {
	color: #868685
}
.scheme_dark div {
	color: #dcdcdc;
}
.scheme_dark .disabled div {
	color: #565655
}

.scheme_dark table {
	color: #dcdcdc;
}

.scheme_dark .activeTab {
	color: #dcdcdc;
}

.scheme_dark .button_tooltip {
	background-color: #201F1D;
	color: 565655;
}

.scheme_dark .maxRes {
	color: #555;
}
			
